<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <header>
            <div>
                <a href="/">Home</a>
                <a href="http://api.iiko.ru">api.iiko.ru</a>
                <a href="api@iiko.ru">api@iiko.ru</a>
                <a href="https://github.com/iiko/front.api.doc/">Sources</a>
            </div>
        </header>
    </div>
    <div>
        {{ content }}
    </div>
</body>
</html>
